@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #FEA38E, #FFDFD3, #FBA2AB, #F6E6D0, #F3B5A0);
  background-size: 400% 400%;
  animation: gradient-animation 5s ease infinite;
}

/* Efecto de desplazamiento */
.btn-gradient {
  background: linear-gradient(90deg, #FFD464, #FF5E5E);
  background-size: 200% 200%;
  transition: transform 0.3s ease, background-position 0.3s ease;
}

.btn-gradient:hover {
  transform: translateY(-3px);
  background-position: 100% 50%;
}

.btn-gradient:active {
  transform: translateY(1px);
}


