@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #B0183D, #E23C64, #FF5E5E, #FCEDD8);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}


